[Unit]
Description=A pluggable system to receive and transmit bluetooth events from the Tilt Hydrometer
After=network.online.target
Wants=network.online.target

[Service]
ExecStartPre=/bin/sleep 30
Type=simple
User=root
ExecStart=/usr/local/bin/tilty -r --config-file=/etc/tilty/tilty.ini

[Install]
WantedBy=multi-user.target
